.container {
  text-align: center;
  display: flex;
}

.header {
  background-color: #38006b;
  color: #fff;
  width: 100%;
  min-height: 128px;
  margin-top: -22px;
  text-align: center;
  display: inherit;
}

.header >h1 {
  margin-top: 29px;
}

.scoreView {
  margin-top:50px;
  border: 1px solid black;
  max-width: 21%;
  max-height: 600px;
}

.scoreView >img {
  margin-top: 45px;
  width: 95%;
}

.scoreView > p {
  color: white;
  font-size: large;
}

.reload {
  background-color: #38006b;
  border-radius: 4px;
  border: 1px solid #38006b;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  min-height: 50px;
  vertical-align: middle;
  width: 56%;
}

.reload:hover {
  background-color: #F9F9F9;
  color: #38006b;
}

.navbar-center {
  color: red;
  font-weight: 800;
}

.App-logo {
  position: absolute;
  height: 13vmin;
  pointer-events: none;
  margin-top: 5px;
  margin-left: -50vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

section.navbar-center.text-error >p {
  background-color: rgba(255, 255, 255, 0.6);
    margin: 10px;
    border: 1px solid wheat;
    border-radius: 5px;
}
